.component-info {
  table.table {
    thead {
      th {
        .mui-text-light-black;
        font-weight: normal;
        padding: 12px 8px;
        text-align: left;
      }
    }
    tbody {
      td {
        .mui-font-style-subhead-1;
        padding: 8px 8px;
      }
    }
  }
}

.blocks {
}
